<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <menuitem   
            name="SMP"  
            id="is_smp_main_menu" 
            sequence="1"
        />
        <menuitem   
            name="SMP"  
            id="is_smp_menu" 
            parent="is_smp_main_menu" 
            sequence="10"
        />
        <menuitem
            name="Machines"
            id="is_machine_menu" 
            action="is_machine_action"  
            parent="is_smp_menu" 
            sequence="10"
        />
        <menuitem
            name="Sous-ensembles"
            id="is_sous_ensemble_menu" 
            action="is_sous_ensemble_action"  
            parent="is_smp_menu" 
            sequence="20"
        />
        <menuitem
            name="Lignes de sous-ensembles"
            id="is_sous_ensemble_line_menu" 
            action="is_sous_ensemble_line_action"  
            parent="is_smp_menu" 
            sequence="30"
        />


    </data>
</odoo>
